.bg{
	background-image: url(clown.jpg);
}
.height{
	height: 100px 
}
.height1{
	height: 1000px
}
.height2{
	height: 600px
}
.height3{
	height: 400px
}
.height4{
	height: 200px
}
.height5{
	height: 30px
}